# Copie este arquivo para .env e preencha. O .env NUNCA vai para o Git.
MATRICULA=26128344
DOCKERHUB_USER=lucasr32

MARIADB_DATABASE=agrovale_blog
MARIADB_USER=agrovale
MARIADB_PASSWORD=avaliacaodb
MARIADB_ROOT_PASSWORD=avaliacaorootdb
